/* nav decoration */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 200px;
}

/* nav e halka border */

/* font style korechi */
body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Wix Madefor Text', sans-serif;
}

/* heading color font fix */
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 700;

}

/* header color korechi */
.header {
  background: #FFF8F3;
  background-image: url(/portfolio-resources/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;

}



/* span color korechi */
.orange-color {
  color: #FD6E0A;
}

/* list flex korechi */

nav>ul {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #474747;
}

nav li {
  list-style: none;
  padding-right: 55px;
}

/* button kaj korechi */

.btn-primary {
  width: 150px;
  height: 64px;
  background-color: #FD6E0A;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 3px;
}

.download-cv {
  text-align: center;
  margin-top: 50px;

}

/* herder sectionn er banner er kaj korechi */
.banner {
  padding: 30px 30px 0px 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* My image*/
.banner .profile {
  width: 500px;

}

/* margin padding thik kortasi */
.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}

.main-banner {
  margin-top: 5px;
}

.banner-content {
  max-width: 500px;
}



/* main section style */

main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
}

.about-info-container {
  display: flex;
  justify-content: space-between;
}

.about-info {
  text-align: center;
}

/* about section style */

.about {
  padding: 130px;
  background-color: antiquewhite;
  border-radius: 10px;
  margin: 130px 0px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}

/* What i do section */

.what-i-do-section {
  text-align: center;
  max-width: 1140px;
}

#what-i-do-description {
  padding: 30px 150px;
}

/* skills related styles */
.skills-container {
  display: flex;
  gap: 24px;
}

.skill {
  padding: 30px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
  color: gray;
}


/* resume summary styles */

.resume-colum-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700px;

}

.resume-container {
  display: flex;
  gap: 50px;
}

.resume-item-title {
  color: #757575;
  font-size: 25px;
  font-weight: 700px;
  margin-bottom: 10px;
}

.resume-item-instituate {
  margin-bottom: 20px;
  margin-top: 10px;

}

.resume-item-instituate,
.resume-item-description {
  color: #757575;

}

.resume-container hr {
  margin: 30px;
}

/* footer section style */
footer {
  display: flex;
  gap: 100px;
  background: #ffffff;
  margin-top: 100px;
  padding: 130px 200px;
}


.footer-colum {
  width: 50%;
}

.contact input[type="text"],
.contact input[type="email"] textarea {
  display: block;
  margin-bottom: 24px;
  padding: 18px 35px;
  color: #757575;
  border: 0;
  border-radius: 5px;
  background-color: #FFF;
  width: 100%;
}

.contact input {}