/* nav decoration */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 200px;
}
/* nav e halka border */

/* font style korechi */
body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Wix Madefor Text', sans-serif;
}

/* heading color font fix */
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 700;

}
/* header color korechi */
.header{
  background: #FFF8F3;
  background-image: url(/portfolio-resources/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  
}



/* span color korechi */
.orange-color {
  color: #FD6E0A;
}

/* list flex korechi */

nav>ul {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #474747;
}

nav li {
  list-style: none;
  padding-right: 55px;
}

/* button kaj korechi */

.btn-primary {
  width: 150px;
  height: 64px;
  background-color: #FD6E0A;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 3px;
}
/* herder sectionn er banner er kaj korechi */
.banner{
  padding: 30px 30px 0px 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* My image*/
.banner .profile{
  width: 500px;
  
}

/* margin padding thik kortasi */
.banner-greeting{
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}

.main-banner{
  margin-top: 5px;
}
.banner-content{
  max-width: 500px;
}



/* main section style */
.section-title{
  color: #181818;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}

.section-description{
  color: #757575;
  text-align: center;
  font-size: 18px;
}

/* about section style */

.about{
  padding: 130px;
  background-color: antiquewhite;
  border-radius: 10px;
  margin-top: 130px 0px ;
}

